html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    margin: 0;
    padding: 40px 25px;
    background-image: linear-gradient(#BBD2C5, #536976, #292E49);
    background-repeat: no-repeat;
    background-size: 100%;
    background-size: cover;
}

.application {
    width: 100%;
}

h1 {
    color: #fff;
    font-size: 60px;
    text-align: center;
    margin: 0 0 20px;
}

.container {
    background-color: #fff;
    width: 80%;
    max-width: 500px;
    margin: 0 auto 30px;
}

.header {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding: 5px;
    background-color: #f2f2f2;
    font-size: 14px;
}

.headerUnorderedList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.headerUnorderedListItem {
    margin: 5px;
}

.label {
    display: flex;
    align-items: center;
    background-color: #3e82c3;
    border-radius: 20px;
    padding: 2px 2px 2px 10px;
}

.labelName {
    margin-right: 5px;
    color: #fff;
}

.labelValueNumber .labelValue {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.labelValue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #3e82c3;
    font-weight: 500;
}


.labelValueNumber .allTaskslabelValue {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

..allTaskslabelValue {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    color: #3e82c3;
    font-weight: 500;
}









.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid transparent;
    line-height: 110%;
    cursor: pointer;
}

.buttonError {
    background-color: #f65050;
    color: #fff;
}

.buttonSmall {
    padding: 5px 8px;
    font-size: 15px;
}

.button_icon {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttonIcon .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.doneIcon {
    height: 15px;
}

.taskListContainer {
    height: 168px;
    margin: 20px;
    overflow-y: scroll;
}

.taskList {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
}

.taskListItem {
    padding: 5px;
}

.taskListItemTitle {
    padding-right: 5px;
}

.taskListItemStatus {
    padding-right: 5px;
}

.taskPreview {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
    width: 95%;
}

.taskPreviewDoneButton {
    margin-right: 15px;
    opacity: 1;
    color: #c3bbb6;
    font-size: 24px;
    background-color: #fff;
}

.buttonIcon {
    padding: 0;
}

.taskPreviewName {
    max-width: calc(100% - 100px);
    font-size: 15px;
}








.newTask {
    padding: 15px 20px;
    background-color: #f2f2f2;
}

.newTaskField {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 10px 8px 15px;
    border: 3px solid #3e82c3;
    border-radius: 50px;
    background-color: #fff;
}

.newTaskInput {
    width: 100%;
    border: 0;
    outline: none;
    color: #3e82c3;
    font-size: 16px;
    padding: 0;
    margin-right: 10px;
}

.newTaskAddButton {
    color: #3e82c3;
    font-size: 36px;
    background-color: #fff;
    padding: 0;
}